<section class="editor">
    <div class="container">
        <div class="editor__main" data-aos="fade-down"
        data-aos-duration="1000">
            <h2 class="editor__main-title">Revolutionary editor</h2>
            <p class="editor__main-graph">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
        </div>
        <div class="editor__buttons">
            <div class="editor__buttons-watch" data-aos="fade-down"
            data-aos-duration="1000">
                <a class="github-button" href="https://github.com/Vresterq/forkio" data-icon="octicon-eye" data-size="large" data-show-count="true" aria-label="Watch buttons/github-buttons on GitHub">Watch</a>
                <a class="github-button" href="https://github.com/Vresterq/forkio" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star buttons/github-buttons on GitHub">Star</a>
            </div>
            <div class="editor__buttons-fork" data-aos="fade-down"
            data-aos-duration="1000">
                <a class="github-button" href="https://github.com/Vresterq/forkio" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork buttons/github-buttons on GitHub">Fork</a>
            </div>
        </div>
    </div>
    <div class="editor__advantages-wrapper">
        <div class="editor__advantages container">
            <div class="editor__advantages—max-width">
                    <h2 class="editor__advantages-title" data-aos="fade-down"
                    data-aos-duration="1000">&#60;Here is what you get&#62;</h2>
                <div class="editor__image—max-width">
                    <img src="./img/Editor-section/main-section-img.png" data-aos="fade-left"
                    data-aos-duration="1000" alt="main-section-image">
                </div>
            </div>
            <div class="editor__content">
                <div class="editor__item" data-aos="fade-right">
                    <div class="editor__item-img img-1">
                        <img src="./img/Editor-section/icons/icon-1.png" alt="icon-1">
                    </div>
                    <div class="editor__item-text">
                        <h4 class="editor__item-title">Creatred to Make The Web Better</h4>
                        <p class="editor__item-graph">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
                    </div>
                </div>
                <div class="editor__item" data-aos="fade-right" data-aos-offset="100">
                    <div class="editor__item-img img-2">
                        <img src="./img/Editor-section/icons/icon-2.png" alt="icon-2">
                    </div>
                    <div class="editor__item-text">
                        <h4 class="editor__item-title">Incredibly Powerful Tool</h4>
                        <p class="editor__item-graph">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
                <div class="editor__item" data-aos="fade-right">
                    <div class="editor__item-img img-3">
                        <img src="./img/Editor-section/icons/icon-3.png" alt="icon-3">
                    </div>
                    <div class="editor__item-text">
                        <h4 class="editor__item-title">Experimental Stuff</h4>
                        <p class="editor__item-graph">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
                <div class="editor__item" data-aos="fade-right">
                    <div class="editor__item-img img-4">
                        <img src="./img/Editor-section/icons/icon-4.png" alt="icon-4">
                    </div>
                    <div class="editor__item-text">
                        <h4 class="editor__item-title">Creatred to Make The Web Better</h4>
                        <p class="editor__item-graph">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
<div class="editor__image" data-aos="fade-left">
    <img src="./img/Editor-section/main-section-img.png" alt="main-section-image">
</div>
</section>
