<head>
    <meta charset="UTF-8">
    <title>@@title</title>
    <link rel="stylesheet" href="./css/style.min.css">
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link href="./img/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>