<header class="header">
    <div class="header__hero-wrapper">
        <img alt="header hero image" class="header__hero" src="./img/hero.png">
        <div class="header__body--wrapper">
            <div class="container">
                <div class="header__body">
                    <a class="header__brand-link" href="javascript:void(0)">
                        <span class="header__logo brand-logo"></span>
                        <span class="header__brand-title">ForkIO</span>
                    </a>
                    <div class="header__button-buy-wrapper">
                        <button class="header__btn--buy btn">Buy Now</button>
                    </div>
                    <button class="header__hamburger">
                <span class="header__hamburger-box">
                    <span class="header__hamburger-inner"></span>
                </span>
                    </button>

                    <nav class="header__nav">
                        <ul class="header__list">
                            <li class="header__item"><a class="header__link" href="javascript:void(0)">Overview</a></li>
                            <li class="header__item"><a class="header__link" href="javascript:void(0)">About Fork</a>
                            </li>
                            <li class="header__item"><a class="header__link" href="javascript:void(0)">Buying
                                Options</a></li>
                            <li class="header__item"><a class="header__link" href="javascript:void(0)">Support</a></li>
                            <li class="header__item"></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header__content container" data-aos="fade-down" data-aos-duration="1000">
            <h1 class="header__title title">Fork App</h1>
            <div class="header__slogan">A Real Gamechanger In The World Of Web-Development</div>
            <div class="header__app-version">v. 2.8 For Mac and Windows</div>
        </div>
    </div>
    <div class="header__download-wrapper container">
        <button class="header__btn--download btn">Download For Free Now</button>
        <p class="header__trial-period">Unlimited 30-Days Trial Period</p>
    </div>
</header>