<section class="pricing">
    <div class="pricing__wrapper container">
        <h2 class="pricing__wrapper-title" data-aos="fade-down"
        data-aos-duration="1000">Fork Subscription Pricing</h2>
            <div class="pricing__content">
                <div class="pricing__card" data-aos="fade-right">
                        <h3 class="pricing__card-title card-1" >Students</h3>
                    <div class="pricing__card-description">
                        <p><span>$</span>29</p>
                        <p>per month</p>
                        <p class="description__small">Personal License</p>
                        <button class="pricing__card-button btn" href="javascript:void(0)">purchase</button>
                    </div>
                </div>
                <div class="pricing__card" data-aos="fade-left">
                        <h3 class="pricing__card-title card-2">professional</h3>
                    <div class="pricing__card-description">
                        <p><span>$</span>59</p>
                        <p>per month</p>
                        <span>Professional License</span>
                        <p>Email Support</p> 
                        <button class="pricing__card-button btn" href="javascript:void(0)">purchase</button>
                    </div>
                </div>
                <div class="pricing__card selected__card" data-aos="fade-right">
                        <h3 class="pricing__card-title selected__card-title">agency</h3>
                    <div class="pricing__card-description selected__card-description">
                        <p><span>$</span>99</p>
                        <p>per month</p>
                        <span>1-12 Team Members</span>
                        <p>Phone Support</p> 
                        <button class="pricing__card-button btn" href="javascript:void(0)">purchase</button>
                    </div>
                </div>
                <div class="pricing__card" data-aos="fade-left">
                        <h3 class="pricing__card-title card-4">enterprise</h3>
                    <div class="pricing__card-description">
                        <p><span>$</span>159</p>
                        <p>per month</p>
                        <span>Unlimited Team Members</span>
                        <p>24/ 7 Phone Support</p> 
                        <button class="pricing__card-button btn" href="javascript:void(0)">purchase</button>
                    </div>
                </div>
            </div>
    </div>
</section>
