<section class="reviews">
    <img alt="" class="reviews__bg" src="./img/reviews-section/reviews_bg.jpg">
    <div class="container">
        <h1 class="reviews__title title">People Are Talking About Fork</h1>
        <div class="reviews__content">
            <div class="reviews__item" data-aos="fade-right" data-aos-duration="1000">
                <img alt="Smashing logo" class="reviews__logo" src="./img/reviews-section/smashing.png">
                <p class="reviews__description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </div>
            <div class="reviews__item" data-aos="fade-down" data-aos-duration="1000">
                <img alt="Codrops logo" class="reviews__logo" src="./img/reviews-section/codrops.png">
                <p class="reviews__description">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
                    molestie neque ac, mollis eleifend nibh. </p>
            </div>
            <div class="reviews__item" data-aos="fade-right" data-aos-duration="1000">
                <img alt="W logo" class="reviews__logo" src="./img/reviews-section/w.png">
                <p class="reviews__description">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
                    fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula. </p>
            </div>
            <div class="reviews__item" data-aos="fade-down" data-aos-duration="1000">
                <img alt="W logo" class="reviews__logo" src="./img/reviews-section/pixel_buddha.png">
                <p class="reviews__description">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis. </p>
            </div>
            <div class="reviews__item" data-aos="fade-right" data-aos-duration="1000">
                <img alt="Creative Bloq logo" class="reviews__logo" src="./img/reviews-section/creative_bloq.png">
                <p class="reviews__description">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
                    faucibus lorem id arcu consequat faucibus. </p>
            </div>
            <div class="reviews__item" data-aos="fade-down" data-aos-duration="1000">
                <img alt="TNW logo" class="reviews__logo" src="./img/reviews-section/tnw.png">
                <p class="reviews__description">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                    Pellentesque porttitor cursus massa et vestibulum.</p>
            </div>
        </div>
        <p class="reviews__footer" data-aos="fade-down" data-aos-duration="1000">Duis lobortis arcu sed arcu tincidunt
            feug iat. Nulla nisi mauris, facilisis vitae
            aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum
            sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </div>
</section>