.editor {
    @include flexCenterX;
    overflow: hidden;
    &__main {
        @include flexCenterX;
        margin-top: rem(80);
        &-title {
            text-align: center;
            font-family: $ff-base-bold;
            font-size: $fs-milli-mob;
            color: $clr-primary-dk;
            line-height: rem(28);
            margin-bottom: rem(27);
            text-transform: uppercase;
        }
        &-graph {
            text-align: center;
            font-family: $ff-alt;
            font-size: $fs-nano-tab;
            line-height: rem(20);
            padding: 0 rem(15);
            margin-bottom: rem(36);
        }
    }
    &__buttons {
        margin-bottom: rem(120);
        &-watch {
            @include flexCenterY;
            column-gap: rem(10);
            margin-bottom: rem(20);
        }
        &-fork {
            @include flexCenterY;
        }
    }
    &__advantages {
        @include flexCenterX;
        &-title {
            text-align: center;
            font-family: $ff-base-bold;
            color: $clr-primary;
            font-size: rem(32);
            line-height: rem(38);
            margin-bottom: rem(36);
            max-width: rem(230);
        }
    }
    &__content {
        @include flexCenterX;
    }
    &__item {
        @include flexCenterX;
        text-align: center;
        &-text {
            // margin-bottom: rem(26);
        }
        &-img {
            min-width: rem(120);
            margin-bottom: rem(27);
        }
        &-title {
            font-weight: 400;
            color: $clr-base;
            margin-bottom: $fs-pico-mob;
            line-height: rem(16);
        }
        &-graph {
            font-family: $ff-alt;
            font-size: $fs-pico-mob;
            color: $clr-primary-ltr;
            margin-bottom: rem(38);
            line-height: rem(21);
            padding: 0 rem(10);
        }
    }   
    &__image {
        display: flex;
        margin: 0 0 rem(25) rem(20);
        & img {
            width: 100%;
            height: auto;
        }
        &—max-width {
            display: none;
        }
    }
}
.img-1 img {width: rem(111); height: rem(64);}
.img-2 img {width: rem(90); height: rem(80);}
.img-3 img {width: rem(60); height: rem(84);}
.img-4 img {width: rem(71); height: rem(71);}

@media (min-width: 481px) {
    .editor {
        &__main {
            margin-top: rem(94);
            &-title {
                font-size: $fs-h2-tab;
                margin-bottom: rem(33);
                line-height: 42px;
            }
            &-graph {
                font-size: $fs-micro-tab;
                line-height: rem(32);
                max-width: rem(689);
                margin-bottom: rem(24);
                padding: 0 rem(5);
            }
        }
        &__buttons {
            @include flexCenterY;
            column-gap: rem(10);
            margin-bottom: rem(160);
            &-watch {
                column-gap: rem(10);
            }
        }
        &__advantages {
            max-width: rem(992);
            &-title {
                font-family: $ff-base-bold;
                color: $clr-primary;
                font-size: $fs-h2-tab;
                line-height: rem(44);
                max-width: rem(542);
                margin-bottom: rem(48);
            }    
        }
        &__content {
            row-gap: rem(60);
            margin-bottom: rem(76);
        }
        &__item {
            display: grid;
            grid-template-columns: rem(120) 1fr;
            column-gap: rem(23);
            &-text {
                text-align: start;
            }
            &-img {
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
            }
            &-title {
                margin-bottom: rem(16);
                line-height: rem(21);
            }
            &-graph {
                max-width: rem(500);
                margin-bottom: 0;
                line-height: rem(21);
                padding: 0;
            }
        }
        &__image {
            margin: 0 0 rem(25) rem(70);
            &—max-width {
                display: none;
            }
        } 
    }
    .img-1 img {margin-left: rem(25);}
    .img-2 img {margin-left: rem(10);}
}
@media (min-width: 993px) {
    .editor {
        &__main {
            margin-top: rem(66);
            &-title {
                font-size: $fs-h2-pc;
                margin-bottom: rem(35);
                line-height: rem(54);
            }
            &-graph {
                max-width: rem(861);
                font-size: $fs-micro-tab;
                line-height: rem(32);
                margin-bottom: rem(13);
            }
        }
        &__buttons {
            margin-bottom: rem(70);
        }
        &__advantages {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            column-gap: rem(50);
            align-items: start;
            direction: rtl;
            &-wrapper {
                @include flexCenterY;
                background-color: $clr-primary-l;
                width: 100%;
                height: auto;
                padding: rem(94) 0 rem(27) 0;
            }
            &-title {
                text-align: end;
                max-width: 612px;
                font-size: rem(45);
                line-height: rem(50);
                margin-bottom: 28px;
            }
            &—max-width {
                display: flex;
                flex-direction: column;
            }
        }
        &__content {
            display: flex;
            align-items: flex-end;
            row-gap: rem(35);
            margin: 0 0 rem(0) rem(10);
            max-width: rem(540);
        }
        &__item {
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            max-width: rem(536);
            column-gap: rem(10);
            &-img {
                justify-content: end;
                margin-right: rem(14);
            }
            &-graph {
                line-height: rem(21);
                max-width: rem(405);
                padding: 0 rem(50) 0 0;
            }
            &-text {
                text-align: end;
                margin-left: rem(0); 
            }
        }
        &__image {
            display: none;
            &—max-width {
                display: flex;
                margin: 0 0 0 rem(1);
                transform: translateX(rem(168));
                & img {
                    max-width: 130%;
                }
            }
            
        }
        .img-1 {
            @include flexCenterY;
            & img {
                margin-left: rem(15);
            }
        }
        
    }
@media (max-width: 1153px) {
    .editor__advantages-title {
        text-align: center;
        font-size: 37px;
        margin-left: 15px;
    }
}
.img-3 img { margin-left: rem(11);}
.img-4 img { margin-left: rem(9);} 
}
