.header {
  &__hero-wrapper {
    position: relative;
  }

  &__hero {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__body--wrapper {
    position: fixed;
    width: 100%;
    z-index: 50;
    --headerBackground: #27262A;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: var(--headerBackground);
      z-index: 2;
    }
  }

  &__body {
    padding: rem(32) rem(5) rem(30) rem(6);
    transition: all .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__brand-link {
    position: relative;
    z-index: 3;

    &:hover {
      .header__brand-title {
        transition: all .5s ease;
        color: $clr-ntrl-min;
      }

      .header__logo {
        transition: all .5s ease;
        background-image: url("../img/brand-logo-hover.svg");
      }
    }
  }

  &__brand-title {
    display: none;
    transition: .5s ease;
    padding-top: rem(12);
  }

  &__logo {
    display: block;
    width: rem(43);
    height: rem(41);
  }

  &__btn--buy {
    padding: rem(11) rem(24);
    font-family: $ff-base-bold;
    font-size: rem(15);
    line-height: rem(15);
    position: relative;
    z-index: 3;
  }

  &__hamburger {
    position: relative;
    width: 26px;
    height: 21px;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;

    &-box {
      &::after {
        @include stick(rem(3), rem(26));
        bottom: 0;
      }

      &::before {
        @include stick(rem(3), rem(15));
        top: 0;
        left: 44%;
      }

      // Burger active
      &--active:before {
        width: rem(22);
        height: rem(2);
        transform: rotateZ(45deg) scaleX(1.25) translate(0, 13px);
      }

      &--active:after {
        width: rem(22);
        height: rem(2);
        transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
      }
    }

    &-inner {
      @include stick(rem(3), rem(26));
      top: 40%;
      // Burger active
      &--active {
        @include stick(0, rem(26));
        transform: scaleX(0);
        transform-origin: 30px 0;
      }
    }
  }

  &__nav {
    position: fixed;
    left: 50%;
    top: 0;
    margin-left: rem(-146);
    transform: translateY(-100%);
    transition: all .7s ease-in-out;
    right: rem(4);
    width: rem(292);
    height: rem(382);
    background-color: $clr-base-lt;
    overflow: auto;

    &--active {
      transform: translateY(27%);
    }
  }

  &__list {
    z-index: 2;
  }

  &__item {
    position: relative;
    border-bottom: 3px solid #3b3b3b;

    &:last-child {
      padding: 0;
      border: none;
      height: rem(14);
    }
  }

  &__link {
    display: block;
    padding: rem(32) 0 rem(31) rem(36);
    color: $clr-ntrl-min;
    font-size: $fs-milli-mob;
    line-height: rem(26);
    transition: all .5s ease;

    &:focus::before, &:active::before {
      content: '';
      position: absolute;
      display: inline-block;
      left: rem(3);
      top: rem(19);
      width: rem(8);
      height: rem(53);
      background-color: $clr-primary;
    }

    &:focus, &:active {
      padding-left: rem(39);
      color: $clr-primary;
    }

    &:hover {
      color: $clr-ntrl-min;
    }
  }

  &__content {
    @include flexCenterX;
  }

  &__title {
    padding-top: rem(154);
    font-size: $fs-h1-mob;
    line-height: rem(48);
    margin-bottom: rem(19);
  }

  &__slogan {
    font-size: $fs-nano-mob;
    line-height: rem(24);
    color: $clr-primary;
    width: rem(258);
    margin-bottom: rem(14);
    text-align: center;
  }

  &__app-version {
    font-size: $fs-pico-mob;
    color: $clr-primary-ltr;
    line-height: rem(14);
    margin-bottom: rem(407);
    text-transform: uppercase;
  }

  &__download-wrapper {
    @include flexCenterX;
    text-align: center;
  }

  &__btn--download {
    font-family: $ff-base-bold;
    font-size: $fs-nano-mob;
    line-height: rem(20);
    padding: rem(13) rem(29);
    transform: translateY(rem(-23));
  }

  &__trial-period {
    font-size: $fs-pico-mob;
    line-height: rem(14);
    color: $clr-primary-ltr;
    text-align: center;
    margin-top: rem(-11);
  }
}

.brand-logo {
  background-image: url("../img/brand-logo.svg");
}

@media (min-width: 481px) {
  .header {
    &__body--wrapper {
      position: static;
      background-color: $clr-base-dk;

      &::before {
        content: none;
      }
    }

    &__body {
      padding: rem(22) rem(10) rem(18) rem(10);
      flex-wrap: wrap;
      row-gap: rem(23);
    }

    &__brand-link {
      display: flex;
      align-items: center;
      column-gap: rem(17);
    }

    &__brand-title {
      display: block;
      color: $clr-primary;
      font-family: $ff-base-bold;
      font-size: $fs-milli-tab;
      line-height: rem(16);
      text-transform: uppercase;
    }

    &__button-buy-wrapper {
      display: flex;
      justify-content: end;
    }

    &__btn--buy {
      padding: rem(11) rem(34);
      font-size: rem(16);
    }

    &__hamburger {
      display: none;
    }

    &__nav {
      position: static;
      margin-left: 0;
      transform: translate(0);
      width: auto;
      height: auto;
      background-color: transparent;
      overflow: visible;
      flex: 0 1 100%;
    }

    &__list {
      display: flex;
      justify-content: space-evenly;
    }

    &__item {
      border: none;

      &:last-child {
        display: none;
      }
    }

    &__link {
      padding: 0;
      color: $clr-primary;
      font-size: rem(16);
      line-height: rem(16);
      transition: none;
      font-family: $ff-base-bold;

      &:focus::before, &:active::before {
        content: none;
      }

      &:focus, &:active {
        padding: 0;
      }
    }

    &__title {
      font-size: $fs-h1-tab;
      padding-top: rem(67);
      line-height: rem(72);
    }

    &__slogan {
      width: 100%;
      margin-bottom: rem(19);
    }

    &__app-version {
      margin-bottom: rem(462);
    }

    &__btn--download {
      font-size: $fs-micro-tab;
      line-height: rem(23);
      padding: rem(23) rem(61);
      transform: translateY(rem(-34.5));
    }

    &__trial-period {
      line-height: rem(16);
      margin-top: rem(-16);
    }
  }
}

@media (min-width: 993px) {
  .header {
    &__body--wrapper {
      background-color: transparent;
    }

    &__body {
      padding: rem(30) 0 0 0;
      row-gap: 0;
      flex-wrap: nowrap;
    }

    &__brand-link {
      flex: 1 1 auto;
    }

    &__nav {
      flex: 1 1 auto;
    }

    &__list {
      justify-content: flex-end;
      column-gap: rem(48);
      margin-right: rem(48);
    }

    &__link {
      line-height: rem(15);
    }

    &__button-buy-wrapper {
      order: 3;
      flex: 0 0 auto;
    }

    &__title {
      font-size: $fs-h1-pc;
      padding-top: rem(112.5);
      line-height: rem(82);
    }

    &__slogan {
      font-size: $fs-milli-pc;
      line-height: rem(30);
    }

    &__app-version {
      font-size: rem(16);
      line-height: rem(16);
      margin-bottom: rem(449);
    }

    &__btn--download {
      line-height: rem(22);
    }

    &__trial-period {
      line-height: rem(16);
      margin-top: rem(-19);
    }
  }
}
