.pricing {
    margin-top: rem(2);
    background-image: url(../img/Pricing-section/pricing-bg.png);
    background-size: cover;
    overflow: hidden;
    &__wrapper {
        @include flexCenterX;
        color: $clr-ntrl-min;
        font-family: $ff-base;
        text-align: center; 
        &-title {
            font-family: $ff-base-bold;
            text-align: center;
            font-weight: 700;
            font-size: rem(28);
            line-height: rem(42);
            color: $clr-ntrl-min;
            margin-bottom: rem(32);
        }  
    }
    &__content {
        @include flexCenterX;
        row-gap: rem(18);
        margin-bottom: rem(15);
    }
    &__card {
        background-color: #5f5161;
        padding-bottom: rem(36);
        &-title {
            background-color: #695b6a;
            text-transform: uppercase;
            margin-bottom: rem(30);
            font-size: rem(24);
            font-weight: 400;
            &.card-1 {
                padding: rem(36) rem(60);
            }
            &.card-2 {
                padding: rem(36) rem(30);
            }
            &.card-4 {
                padding: rem(36) rem(49);
            }
        }
        &-description p:nth-child(1) {
            font-family: $ff-base-bold;
            font-size: rem(60);
            line-height: rem(62);
            font-weight: 700;
            margin-bottom: rem(20);
        }
        &-description span {
            font-family: $ff-base;
            font-weight: 400;
            line-height: rem(28);
        }
        &-description p:nth-child(2) {
            position: relative;
            font-size: rem(14);
            line-height: rem(16);
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: rem(73);
            &::after {
                content: '';
                position: absolute;
                width: rem(60);
                height: rem(5);
                background-color: $clr-primary;
                top: rem(55);
                left: rem(96);
            }
        }
        &-description p:nth-child(4) {
            font-weight: 400;
            line-height: rem(18);
            margin: 0 0 rem(27) 0;
        }

        &-button {
            text-transform: uppercase;
            font-size: rem(15);
            padding: rem(15) rem(38);
        }
        .description__small {
            margin-bottom: rem(55);
        }
        .btn {
            background-color: #776b79;
        }
    }
    .selected__card {
        padding-bottom: rem(47);
        background-color: #463048;
        &-title {
            padding: rem(43) rem(96);
            background-color: #3f2c41;
            margin-bottom: rem(14);
            line-height: rem(24);
        }
        &-description p:nth-child(1) {
            font-size: rem(82);
            line-height: rem(84);
            margin-bottom: rem(16);
        }
        &-description p:nth-child(2) {
            margin-bottom: rem(91);
            line-height: rem(16);
            &::after {
                top: rem(65);
                left: rem(119);
            }
        }
        &-description span {
            line-height: rem(32);
        }
        &-description p:nth-child(4) {
            font-size: rem(16);
            line-height: rem(32);
            margin: 0 0 rem(83) 0;
        }
        &-button {
            padding: rem(19) rem(48);
            font-size: rem(16);
            background-color: #635164;
        }
    }
}
@media (min-width: 481px) {
    .pricing {
        background-image: url(../img/Pricing-section/pricing-bg-max-width.png);
        &__wrapper {
            &-title {
                font-size: rem(42);
                line-height: rem(44);
                margin: rem(88) 0 rem(39) 0;
            }   
        }
        &__card {
            background-color: #ffffff17;
            &-title {
                line-height: rem(24);
                background-color: #ffffff0e;
            }
            &-description p:nth-child(1) {
                line-height: rem(90);
            }
            &-description p:nth-child(2) {
                line-height: rem(16);
            }
            &-description p:nth-child(4) {
                font-weight: 400;
                line-height: rem(18);
            }
        }
        .btn {
            background-color: #ffffff2b;
        }
        .selected__card {
            background-color: #463048bf;
            &-title {
                line-height: rem(24);
            }
            &-description p:nth-child(1) {
                line-height: rem(90);
            }
            &-description p:nth-child(4) {
                line-height: rem(18);
            }
        }
    }
@media (min-width: 622px) {
    .pricing {
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            justify-items: start;
            row-gap: 0px;
            column-gap: 25px;
            margin-bottom: rem(153);
        }
        &__card {
            &:nth-child(1) {
                justify-self: flex-end;
            }
        }
        
    }
}
}
@media (min-width: 993px) {
    .pricing {
        &__wrapper {
            &-title {
                font-size: rem(48);
                line-height: rem(50);
                margin: rem(88) 0 rem(61) 0;
            }
        }
        &__card {
            &.selected__card {
                margin-right: rem(0);
            }
        }    
    }
    @media (min-width: 1135px) {
        .pricing__content {
            @include flexCenterY;
            flex-wrap: wrap;
            column-gap: rem(15);
        }
    }
}
