.reviews {
  position: relative;
  @include flexCenterX;
  text-align: center;

  &__bg {
    position: absolute;
    width: 100%;
    height: 101%;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
  }

  &__title {
    font-size: rem(36);
    line-height: rem(48);
    margin: rem(57) 0 rem(53) 0;
  }

  &__content {
    @include flexCenterX;
    margin-bottom: rem(37);
  }

  &__item {
    @include flexCenterX;
    row-gap: rem(33);
    margin-bottom: rem(45);

    &:last-child {
      margin: 0;
    }
  }

  &__description {
    font-family: $ff-alt-bold-italic;
    color: $clr-ntrl-min;
    line-height: rem(24);
    padding: 0 rem(10);
  }

  &__footer {
    position: relative;
    font-family: $ff-alt;
    font-size: $fs-pico-mob;
    color: $clr-primary-ltst;
    line-height: rem(21);
    padding: 0 rem(24) 0 rem(25);
    margin-bottom: rem(36);

    &::after {
      content: '';
      position: absolute;
      width: 81.7%;
      height: rem(2);
      background-color: #645766;
      border-radius: rem(5);
      left: 50%;
      bottom: rem(-22);
      transform: translateX(-50%);
      transition: .5s;
    }
  }
}

@media (min-width: 481px) {
  .reviews {
    &__title {
      font-size: $fs-h2-tab;
      line-height: rem(44);
      margin: rem(86) 0 rem(85) 0;
    }

    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      row-gap: rem(55);
      margin-bottom: rem(63.5);
    }

    &__item {
      flex-basis: 50%;
      margin-bottom: 0;

      &:nth-child(2) {
        row-gap: rem(26);
      }

      &:nth-child(4) {
        row-gap: rem(43);
      }

      &:nth-child(4) img {
        margin-top: rem(20);
      }
    }

    &__description {
      max-width: rem(355);
    }

    &__footer {
      padding: 0 rem(18) 0 rem(23);
      margin-bottom: rem(19.5);

      &::after {
        width: 74.2%;
      }
    }
  }
}

@media (min-width: 993px) {
  .reviews {
    &__title {
      font-size: $fs-h3-pc;
      line-height: rem(50);
      margin: rem(108) 0 rem(75) 0;
    }

    &__content {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      row-gap: rem(111);
      margin-bottom: rem(119);
    }

    &__item {
      flex-basis: 33%;

      &:nth-child(3) {
        row-gap: rem(12);
      }

      &:nth-child(4) {
        row-gap: rem(43);
      }
    }

    &__footer {
      padding: 0 rem(18) 0 rem(23);
      max-width: rem(900);
      margin: 0 auto rem(18.5) auto;

      &::after {
        width: 86.6%;
      }
    }
  }
}