@mixin stick($height, $width) {
  content: '';
  position: absolute;
  width: $width;
  height: $height;
  background-color: $clr-ntrl-min;
  border-radius: rem(5);
  left: 0;
  transition: .5s;
}

@mixin flexCenterX {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin flexCenterY {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@mixin flexCenterXY {
    display: flex;
    justify-content: center;
    align-items: center;
}
