//Fonts
$ff-base: 'Montserrat', sans-serif;
$ff-base-bold: 'Montserrat-bold', sans-serif;
$ff-alt: 'Lato', sans-serif;
$ff-alt-bold: 'Lato-bold', sans-serif;
$ff-alt-bold-italic: 'Lato-italic', sans-serif;

//Px to rem math
@use "sass:math";
@function rem($px) {
  $result: math.div($px, 16) + rem;
  @return $result;
}

//Fonts-size

/* base font size - applied at body / html level */
$fs-base: rem(16);

//Mobile ver
/* heading font sizes */
$fs-h1-mob: rem(48);

/* smaller than heading font sizes */
$fs-milli-mob: rem(26);
$fs-micro-mob: rem(24);
$fs-nano-mob: rem(18);
$fs-pico-mob: rem(14);


//Tablets-ver
/* heading font sizes */
$fs-h1-tab: rem(72);
$fs-h2-tab: rem(42);

/* smaller than heading font sizes */
$fs-milli-tab: rem(24);
$fs-micro-tab: rem(21);
$fs-nano-tab: rem(14);

//PC-ver
/* heading font sizes */
$fs-h1-pc: rem(82);
$fs-h2-pc: rem(54);
$fs-h3-pc: rem(48);


/* smaller than heading font sizes */
$fs-milli-pc: rem(30);
$fs-micro-pc: rem(24);
$fs-nano-pc: rem(14);

//Pricing section
$fs-price-kilo: rem(82);
$fs-price-base: rem(60);

//Colors
//Backgrounds
$clr-primary-l: #F4F4F4;
//Base colors
$clr-base: #323232;
$clr-base-lt: #333333;
$clr-base-dk: #27262A;

//Primary colors
$clr-primary: #8D81AC;
$clr-primary-ltr: #848E97;
$clr-primary-ltst: #A291A5;
$clr-primary-dk: #635C73;

//Neutral
$clr-ntrl-min: #fff;
$clr-ntrl-max: #000;


