@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "modules/modules";

html, body {
  font-family: $ff-base;
  height: 100%;
}

.body--lock {
  overflow: hidden;
}

.container {
  padding: 0 rem(10);
  margin: 0 auto;
}

.btn {
  background-color: $clr-primary;
  color: $clr-ntrl-min;
  border-radius: 40px;
  cursor: pointer;
  transition: .5s ease-in;

  &:hover {
    background-color: $clr-ntrl-min;
    color: $clr-primary;
    outline: 1px solid #8D81AC;
  }
}

.title {
  color: $clr-ntrl-min;
  font-family: $ff-base-bold;
}


@media (min-width: 993px) {
  .container {
    max-width: rem(1200);
  }
}
